h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    line-height: 1.5;
    font-weight: 900;
    color: aliceblue;
    padding-top: 10%;
    margin-right: 25%;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: aliceblue;
}

a {
    font-size: 1.25rem;
}

.rotated {
    transform: rotate(25deg);
}

.container-fluid {
    padding: 1% 15%;
}

#title {
    background-color: #ff4c68;
}